

.tabs {
    position: relative;
    min-height: 200px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .tab {
    display: inline-block;
  }
  .tab a {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    text-decoration: none;
  }
  .tab [type="radio"] {
    opacity: 0;
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  a [type="radio"]:hover {
    background-color: green;
  }
  [type="radio"]:checked ~ a {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type="radio"]:checked ~a ~.content {
    z-index: 1;
  }
  [type="radio"]:checked ~a ~.content > * {
    opacity: 1;
    transform: translateX(0);
  }

