body {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .subnav{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  