ul{
  width:500px;
  height:500px;
}
body {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .subnav{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:25%;
  }
  